<% if obj.errors.any? %>
  <div class="alert alert-error">
    <ul>
      <% for message in obj.errors.full_messages %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
